:root {
  --height:15px; }

html, body {
  width: 100%;
  height: 100%;
  min-width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

body {
  font-family: 'PT Sans Narrow', sans-serif;
  background-color: #F2F2F2;
  overflow: hidden; }

.list_container {
  position: relative;
  width: 90%;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  transition: 0.5s; }

.list_container > li {
  position: relative;
  width: 30%;
  background-color: white;
  transition: 0.5s; }
  .list_container > li:nth-child(1) {
    transform: skewY(-10deg); }
    .list_container > li:nth-child(1) .img, .list_container > li:nth-child(1)::before {
      background-color: #f1652a; }
    .list_container > li:nth-child(1)::after {
      background-color: #d6490e; }
    .list_container > li:nth-child(1):hover {
      transform: skewY(-10deg) translateY(-40px); }
      .list_container > li:nth-child(1):hover .content:before {
        transform: translateY(40px) skewX(45deg); }
    .list_container > li:nth-child(1)::before {
      transform: skewX(45deg); }
    .list_container > li:nth-child(1)::after {
      top: calc(var(--height)*-1);
      left: calc(var(--height)*-1);
      transform: skewY(45deg); }
    .list_container > li:nth-child(1) .content:before {
      transform: skewX(45deg); }
  .list_container > li:nth-child(2) {
    transform: translateY(-25px); }
    .list_container > li:nth-child(2) .img, .list_container > li:nth-child(2)::before {
      background-color: #0071bd; }
    .list_container > li:nth-child(2):hover {
      transform: translateY(-65px); }
  .list_container > li:nth-child(3) {
    transform: skewY(10deg); }
    .list_container > li:nth-child(3) .img, .list_container > li:nth-child(3)::before {
      background-color: #f2bd20; }
    .list_container > li:nth-child(3)::after {
      background-color: #dfab0d; }
    .list_container > li:nth-child(3):hover {
      transform: skewY(10deg) translateY(-40px); }
      .list_container > li:nth-child(3):hover .content:before {
        transform: translateY(40px) skewX(-45deg); }
    .list_container > li:nth-child(3)::before {
      transform: skewX(-45deg); }
    .list_container > li:nth-child(3)::after {
      top: 0;
      right: calc(var(--height)*-1);
      transform: skewY(-45deg); }
    .list_container > li:nth-child(3) .content:before {
      transform: skewX(-45deg); }
  .list_container > li:nth-child(1)::before, .list_container > li:nth-child(3)::before {
    content: "";
    position: absolute;
    width: 100%;
    height: var(--height);
    top: calc(var(--height)*-1);
    left: 0;
    transform-origin: bottom;
    transition: 0.5s; }
  .list_container > li:nth-child(1):after, .list_container > li:nth-child(3):after {
    content: "";
    position: absolute;
    width: var(--height);
    height: 150px;
    transform-origin: left;
    transition: 0.5s;
    border-bottom: 150px solid #d9d9d9; }
  .list_container > li:nth-child(1) .content:before, .list_container > li:nth-child(3) .content:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 300px;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
    transform-origin: bottom;
    pointer-events: none;
    z-index: -1;
    transition: 0.5s; }
  .list_container > li:nth-child(1):hover .content:before, .list_container > li:nth-child(3):hover .content:before {
    filter: blur(5px);
    opacity: 0.5; }
  .list_container > li .img {
    font-size: 26px;
    padding: 40px 0;
    height: 150px;
    box-sizing: border-box;
    color: white; }
    .list_container > li .img i {
      font-size: 50px;
      display: inline-block;
      margin-bottom: 10px; }
  .list_container > li .content {
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
    height: 150px; }

/*# sourceMappingURL=style.css.map */
