:root {
  --bgactive: rgba(0, 0, 0, 0.2); }

#nameTag {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  font-family: "Do Hyeon", sans-serif;
  font-size: 40px;
  border-radius: 8px;
  background-color: white;
  padding: 4px;
  width: 67%;
  max-width: 500px;
  text-align: center; }
  @media screen and (max-width: 900px) {
    #nameTag {
      font-size: 5vw; } }
  #nameTag span {
    padding: 4px;
    border-radius: 4px;
    display: block;
    overflow: hidden;
    border: 2px solid #f51412; }

#bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }
  #bg.active {
    background-color: rgba(0, 0, 0, 0.2);
    transition: 0.5s; }

#cover {
  position: fixed;
  width: 80%;
  height: 10%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(to right, #36416b 90%, #f3a53c 90%, #f3a53c 94%, #36416b 94%);
  font-family: "Raleway", sans-serif;
  border-radius: 0 40px 0 0; }
  #cover ul.bookmark {
    position: relative;
    width: 100%;
    height: 100%; }
    #cover ul.bookmark li {
      position: absolute;
      bottom: 100%;
      transition: 0.5s; }
      #cover ul.bookmark li.active {
        bottom: 84vh;
        z-index: 2; }
        #cover ul.bookmark li.active p {
          padding: 12px 30px 20px 6px; }
          #cover ul.bookmark li.active p:after {
            border-left: 18px solid transparent; }
      #cover ul.bookmark li:hover p {
        padding: 12px 30px 20px 6px; }
      #cover ul.bookmark li p {
        position: relative;
        writing-mode: vertical-lr;
        padding: 12px 30px 8px 6px;
        font-weight: 600;
        transition: 0.5s linear;
        cursor: pointer; }
      #cover ul.bookmark li.pointer {
        left: 15%;
        background-image: linear-gradient(225deg, transparent 10px, #1abc9c 0); }
      #cover ul.bookmark li.scroll {
        left: 70%;
        background-image: linear-gradient(225deg, transparent 10px, #9b59b6 0); }
      #cover ul.bookmark li.list {
        left: 32%;
        background-image: linear-gradient(225deg, transparent 10px, #ea2027 0); }
      #cover ul.bookmark li.motion {
        left: 50%;
        background-image: linear-gradient(225deg, transparent 10px, #f6b93b 0); }
  #cover ul.contents {
    position: absolute;
    width: calc(100% - 60px);
    left: 20px;
    bottom: 100%;
    overflow: hidden; }
    #cover ul.contents > li {
      position: relative;
      width: 100%;
      height: 0;
      background-color: #f7f1e3;
      transition: 0.5s;
      box-sizing: border-box;
      overflow: scroll; }
      #cover ul.contents > li::-webkit-scrollbar {
        width: 0; }
      #cover ul.contents > li > ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center; }
        #cover ul.contents > li > ul > li {
          width: 25%;
          text-align: center;
          margin-bottom: 30px; }
      #cover ul.contents > li.active {
        height: 80vh;
        padding: 80px 20px 20px 20px;
        z-index: 1; }

/*# sourceMappingURL=style.css.map */
